<div class="member col-12 tablelist">
    <div class="row">
      <div class="col-12">
          <!-- {{ checkarray }} -->
          <md-card>
            <md-card-header class="d-inline-block" >
                <div class="md-title">會員清單</div>
            </md-card-header>
            <md-card-content>
              <div class="row sticky-top select-options-top">
                <div class="col-12 d-flex align-items-center justify-content-between flex-wrap-reverse">
                    <div class='d-flex align-items-center justify-content-between select-options'>
                        <md-checkbox class="checkbtnArea" v-model="checkbtn" style="margin:0 0 0 10px" indeterminate></md-checkbox>
                        <md-menu md-size="medium" md-align-trigger>
                            <md-button md-menu-trigger style="min-width: 0;width:20px;"><md-icon>arrow_drop_down</md-icon></md-button>
                            <md-menu-content>
                              <md-menu-item @click="checkAll">全選</md-menu-item>
                              <md-menu-item @click="uncheckAll">全不選</md-menu-item>
                            </md-menu-content>
                        </md-menu>
                        
                        <md-button class="md-icon-button md-dense md-raised md-primary" @click="refreshData(null)">
                            <md-icon>refresh</md-icon>
                            <md-tooltip md-direction="bottom">refresh</md-tooltip>
                        </md-button>
                        <!-- 尚未開通功能 -->
                        <!-- <transition name="selectOption" mode="out-in" appear>
                          <md-badge :md-content="selectLength" md-dense v-if="checkarray.length > 0">
                            <md-button class="md-icon-button md-dense md-raised md-primary" @click="disabledMem">
                              <md-icon>person_add_disabled</md-icon>
                              <md-tooltip md-direction="bottom">用戶停用</md-tooltip>
                            </md-button>
                          </md-badge>
                        </transition>
                        <transition name="selectOption" mode="out-in" appear>
                          <md-badge :md-content="selectLength" md-dense v-if="checkarray.length > 0">
                            <md-button class="md-icon-button md-dense md-raised md-primary" @click="downloadCSV">
                              <md-icon>move_to_inbox</md-icon>
                              <md-tooltip md-direction="bottom">CSV 下載</md-tooltip>
                            </md-button>
                          </md-badge>
                        </transition>  -->
                        <!-- 尚未開通功能 -->
                        <transition name="selectOption" mode="out-in" appear>
                          <md-button  v-if="checkarray.length === 1" class="md-icon-button md-dense md-raised md-primary" @click="viewMemDetail(null)">
                            <md-icon>visibility</md-icon>
                            <md-tooltip md-direction="bottom">查看會員資料</md-tooltip>
                          </md-button>
                        </transition> 

                        <!-- 單次修改標籤 -->
                        <transition name="selectOption" mode="out-in" appear>
                          <md-button v-if="checkarray.length === 1" class="md-icon-button md-dense md-raised md-primary" @click="showTagDialog = true">
                            <md-icon>bookmark</md-icon>
                            <md-tooltip md-direction="bottom">標籤設定</md-tooltip>
                          </md-button>
                        </transition>
                        <!-- 批次加入標籤 -->
                        <transition name="selectOption" mode="out-in" appear></transition>  
                          <md-menu md-size="auto" md-align-trigger md-direction="bottom-start"  v-if="selectLength > 1">
                            <md-button class="md-icon-button md-dense md-raised md-primary" md-menu-trigger>
                                <md-icon>bookmark</md-icon>
                                <md-tooltip md-direction="bottom">標籤批次操作</md-tooltip>
                            </md-button>  
                            <md-menu-content>
                              <md-list>
                                <md-list-item v-if="selectLength > 1" @click="showTagDialog = true">
                                  <md-icon class="m-0">done</md-icon>
                                  <span class="md-list-item-text mx-2">加入標籤設定</span>
                                  <md-badge class="md-primary md-square" :md-content="selectLength" />
                                </md-list-item>
                          
                                <md-list-item v-if="selectLength > 1"  @click="showTagMultiDeleteDialog = true">
                                  <md-icon class="m-0">delete</md-icon>
                                  <span class="md-list-item-text mx-2">移除標籤設定</span>
                                  <md-badge class="md-primary md-square" :md-content="selectLength" />
                                </md-list-item>                              

                              </md-list>
                            </md-menu-content> 
                          </md-menu>
                        </transition>
                    </div>
                    
                    <div class="d-flex align-items-center justify-content-end">
                      

                      <div class="search-box-filter d-flex align-items-center justify-content-center">
                        <md-menu md-direction="bottom-start">
                            <md-chip md-clickable md-menu-trigger>{{filterStr}}</md-chip>
                      
                            <md-menu-content>
                              <md-menu-item @click="filter(0)">姓名</md-menu-item>
                              <md-menu-item @click="filter(1)">信箱</md-menu-item>
                              <md-menu-item @click="filter(2)">身分證</md-menu-item>
                              <md-menu-item @click="filter(3)">電話</md-menu-item>
                            </md-menu-content>
                          </md-menu>
                        <input class="search-txt" type="text" name="" :placeholder="searchStrPlaceholder" v-model.trim="searchStr" @keyup.enter="searchAct">
                        <md-button class="md-icon-button md-dense md-raised md-primary flex-shrink-0 mx-0" @click="searchAct">
                          <md-icon>search</md-icon>
                          <md-tooltip md-direction="bottom">search</md-tooltip>
                        </md-button>
                      </div>

                      <md-menu md-size="medium" md-align-trigger @md-opened="filterOpen" class="ml-2">
                        <md-button md-menu-trigger class="md-icon-button md-dense md-raised md-primary">
                          <md-icon>tune</md-icon>
                          <md-tooltip md-direction="bottom">標籤群組篩選</md-tooltip>
                        </md-button>
                        <md-menu-content>
                          <loading 
                            :active.sync="tagFilterLoading"
                            color="rgba(36, 94, 96,1)"
                            :opacity= "tagLoadingOpacity"
                            loader="dots"
                          >
                          </loading>
                          <md-menu-item class="active" @click="filterType(item.id)" v-for="item in tagFilterList" :key="item.id">{{item.name}}</md-menu-item>
                        </md-menu-content>
                      </md-menu>
                    </div>
                    
                  
                </div>
              </div>
              
             
              <v-client-table 
                :data="datatables"
                :columns="columns" 
                :options="options"
                :checkarray="checkarray"
                ref="table"
                >
                <!-- header -->
                <span slot="h__name" class="d-flex justify-content-between align-items-center">
                會員名稱 
                  <span 
                    class="VueTables__sort-icon float-right sorticon sort" 
                    @click="sort('name')" 
                    :class="{'sort-up': paramsObj.sortedBy == 'asc' && paramsObj.orderBy == 'name', 'sort-down': paramsObj.sortedBy == 'desc' && paramsObj.orderBy == 'name'}">
                  </span>
                </span>
                <span slot="h__birthday" class="d-flex justify-content-between align-items-center">
                  生日 
                  <span 
                    class="VueTables__sort-icon float-right sorticon sort" 
                    @click="sort('birthday')" 
                    :class="{'sort-up': paramsObj.sortedBy == 'asc' && paramsObj.orderBy == 'birthday', 'sort-down': paramsObj.sortedBy == 'desc' && paramsObj.orderBy == 'birthday'}">
                  </span>
                </span>
                <span slot="h__status" class="d-flex justify-content-between align-items-center">
                  狀態 
                  <span 
                    class="VueTables__sort-icon float-right sorticon sort" 
                    @click="sort('status')" 
                    :class="{'sort-up': paramsObj.sortedBy == 'asc' && paramsObj.orderBy == 'status', 'sort-down': paramsObj.sortedBy == 'desc' && paramsObj.orderBy == 'status'}">
                  </span>
                </span>
                <span slot="h__updated_at" class="d-flex justify-content-between align-items-center">
                  最後登入時間 
                  <span 
                    class="VueTables__sort-icon float-right sorticon sort" 
                    @click="sort('updated_at')" 
                    :class="{'sort-up': paramsObj.sortedBy == 'asc' && paramsObj.orderBy == 'updated_at', 'sort-down': paramsObj.sortedBy == 'desc' && paramsObj.orderBy == 'updated_at'}">
                  </span>
                </span>
                <span slot="h__is_employed" class="d-flex justify-content-between align-items-center">
                  是否員工 
                  <span 
                    class="VueTables__sort-icon float-right sorticon sort" 
                    @click="sort('is_employed')" 
                    :class="{'sort-up': paramsObj.sortedBy == 'asc' && paramsObj.orderBy == 'is_employed', 'sort-down': paramsObj.sortedBy == 'desc' && paramsObj.orderBy == 'is_employed'}">
                  </span>
                </span>

                <!-- 選單 -->
                <md-checkbox 
                  slot="edit" 
                  slot-scope="props" 
                  v-model="checkarray" 
                  class="md-primary" 
                  :value="props.row.id" 
                  style="margin:0;"
                ></md-checkbox>
                 <!-- 會員名稱 -->
                <a 
                  style="cursor: pointer;"
                  slot="name" 
                  slot-scope="props" 
                  @click.prevent="viewMemDetail(props.row.id)">{{props.row.name}}</a>

                <!-- 標籤群組 -->
                <template slot="tags" slot-scope="props">
                  <md-chip 
                    class="md-primary"
                    v-for="item in props.row.tags.data"
                    :key="item.id"
                  >{{item.name}}</md-chip>
                </template>  

              </v-client-table>
              <!-- pagenation-customer -->
              <div class="row col-md-12 justify-content-center customer-pagination">
                <nav class="text-center">
                  <ul class="pagination" v-if="totalPages !== 1">
                    <li class="page-item" @click="prevPage" :class="{'disabled' : currentPage === 1}">
                      <a class="page-link" href="javascript:;" tabindex="-1">&lt;</a>
                    </li>
                    <li class="page-item">
                      <div class="pageShow">
                          <md-menu md-size="small" md-align-trigger md-direction="bottom-start" >
                              <md-button class="md-raised md-primary" @click="showDialog = true">{{currentPage}} / {{totalPages}}
                                <md-tooltip md-direction="bottom">pages</md-tooltip>
                              </md-button>
                          </md-menu>
                      </div> 
                    </li>
                    <li class="page-item" @click="nextPage" :class="{'disabled' : totalPages === currentPage}">
                      <a class="page-link" href="javascript:;">&gt;</a>
                    </li>
                  </ul>
                  <p class="customer-pagination__count text-center col-md-12" >{{dataInfo}}</p>
                </nav>
              </div>  
  
            </md-card-content>
            
          </md-card>   
  
      </div>
  
      <!-- searchFilter box -->
      <md-dialog :md-active.sync="showDialog">
        <md-dialog-title>頁數搜尋</md-dialog-title>
        <md-dialog-content>
          <md-field>
            <label>
              <md-icon>search</md-icon>
            </label>
            <md-input v-model.number.lazy='pageNumber' type="number" min="1" :max="totalPages"></md-input>
            <span class="md-helper-text">最小頁數:1 / 最大頁數:{{totalPages}}</span>
          </md-field>
        </md-dialog-content>
        
  
        <md-dialog-actions>
          <md-button class="md-primary" @click="showDialog = false">close</md-button>
          <md-button class="md-primary" @click="searchPage">search</md-button>
        </md-dialog-actions>
      </md-dialog>

      <!-- tagPlus box 單一商品-->
      <md-dialog :md-active.sync="showTagDialog" class="tagDialog">
        <loading 
          :active.sync="tagLoading"
          color="rgba(36, 94, 96,1)"
          :opacity= "tagLoadingOpacity"
          loader="dots"
        >
        </loading>
        <md-dialog-title class="text-center">
          <div v-if="selectLength == 1">標籤設定</div>
          <div v-else>批次加入標籤設定</div>
          <div v-if="memberInfo.id && selectLength == 1">會員名稱: {{memberInfo.name}}</div>
        </md-dialog-title>
        <md-dialog-content>
          <div v-if="memberInfo.id && selectLength == 1" class="mb-5">       
            <md-chip class="md-primary" md-deletable v-for="item in memberInfo.tags.data" :key="item.id" @click="deleteTagFromMember(memberInfo.id,item.id)">{{item.name}}
                <md-tooltip md-direction="bottom">移除標籤設定</md-tooltip>
            </md-chip>
          </div>   
          <div class="row">
            <div class="col-12">
              <div class="row sticky-top select-options-top-tag">
                  <div class="col-12 d-flex align-items-center justify-content-between flex-wrap-reverse">
                    <div class='d-flex align-items-center justify-content-between select-options'>
                        <md-checkbox class="checkbtnArea" v-model="tagCheckbtn" style="margin:0 0 0 10px" indeterminate></md-checkbox>
                    </div>
                      
                    <div class="d-flex align-items-center justify-content-end">
                        <transition name="selectOption" mode="out-in" appear>
                          <md-badge :md-content="tagCheckarray.length" md-dense v-if="tagCheckarray.length > 0">
                            <md-button  class="md-icon-button" @click="addTagToMember">
                              <md-icon>check</md-icon>
                              <md-tooltip md-direction="bottom">確認加入標籤分類</md-tooltip>
                            </md-button>
                          </md-badge>
                        </transition>
                        
                        <md-button class="md-icon-button" @click="addTag">
                          <md-icon>add</md-icon>
                          <md-tooltip md-direction="bottom">建立新的標籤</md-tooltip>
                        </md-button>
                        <transition name="selectOption" mode="out-in" appear>
                          <md-button v-if="tagCheckarray.length == 1" class="md-icon-button" @click="editTag">
                            <md-icon>edit</md-icon>
                            <md-tooltip md-direction="bottom">修改標籤名稱</md-tooltip>
                          </md-button>
                        </transition>  
                        <transition name="selectOption" mode="out-in" appear>
                          <md-badge :md-content="tagCheckarray.length" md-dense v-if="tagCheckarray.length > 0">
                            <md-button  class="md-icon-button" @click="deleteTag">
                              <md-icon>delete</md-icon>
                              <md-tooltip md-direction="bottom">刪除標籤</md-tooltip>
                            </md-button>
                          </md-badge>
                        </transition>
                    </div>
                  </div>
                </div>   
              <v-client-table 
                :data="tagTable"
                :columns="tagColumns" 
                :options="tagOptions"
                ref="tagTable"
              >
                <!-- 選單 -->
                <md-checkbox 
                  slot="edit" 
                  slot-scope="props" 
                  v-model="tagCheckarray" 
                  class="md-primary" 
                  :value="props.row.id" 
                  style="margin:0;"
                ></md-checkbox>
              </v-client-table>
            </div>
          </div>
        </md-dialog-content>
        <md-dialog-actions>
          <md-button class="md-primary" @click="showTagDialog = false">關閉</md-button>
        </md-dialog-actions>
      </md-dialog>

      <!-- tagPlus box 批次商品刪除 -->
      <md-dialog :md-active.sync="showTagMultiDeleteDialog">
        <md-dialog-title class="text-center"><div>批次移除標籤設定</div></md-dialog-title>
        <md-dialog-content>
          <div class="text-center mb-4">選擇 {{selectLength}} 個會員批次操作</div>
          <md-field>
            <label for="tagMultiSelect">選擇欲移除之標籤</label>
            <md-select v-model="tagMultiSelect" name="tagMultiSelect" id="tagMultiSelect" md-dense multiple @md-opened="openOptionTagList">
              <loading 
                :active.sync="tagFilterLoading"
                color="rgba(36, 94, 96,1)"
                :opacity= "tagLoadingOpacity"
                loader="dots"
              >
              </loading>
              <md-option v-for="item in tagFilterList" :key="item.id" :value="item.id">{{item.name}}</md-option>   
            </md-select>
          </md-field>
        </md-dialog-content>
        
  
        <md-dialog-actions>
          <md-button class="md-primary" @click="showTagMultiDeleteDialog = false">關閉</md-button>
          <md-button class="md-primary" @click="multiDeleteTagFromMember">移除</md-button>
        </md-dialog-actions>
      </md-dialog>

    </div>
</div>
