<div class="businessEdit col-12">
    <div class="row">
      <div class="col-12">
        <md-card>
          <md-card-header class="d-inline-block" >
              <div class="md-title d-flex justify-content-center align-items-center">
                <md-button class="md-icon-button md-dense md-raised mr-2" @click="cancel">
                  <md-icon>keyboard_arrow_left</md-icon>
                  <md-tooltip md-direction="bottom">回上一頁</md-tooltip>
                </md-button>
                {{pageTitle}}
                <!-- 商家資料 -->
              </div>
          </md-card-header>
          <md-card-content>
            <!-- 1. 編輯公司 -->
            <div class="mb-5 d-flex flex-row justify-content-center" v-if="businessStatus">
              <router-link class="bookmark" :to="{name : 'businessInfo' }" v-if="businessCounterEditStatus">商家資料</router-link>
              <router-link class="bookmark" :to="{name : 'businessCounter'}" v-if="businessCounterEditStatus">營業廳別</router-link>
            </div>
            
            <transition name="fade" mode="out-in" appear>
              <router-view v-if="shopID != 'new'"></router-view>
            </transition>
            

            <!-- 2. 新增公司 -->
            <div class="col-12" v-if="!businessStatus">
              <div class="row">
                <!-- <div class="col-lg-4 col-md-6">
                  <md-field :class="{'md-invalid' : errors.has('accountName')}">
                    <label>公司帳號/Email</label>
                    <md-input v-model.trim="businessCreateAccountName" name="accountName" v-validate="'required'" autocomplete="off"></md-input>
                    <span class="md-error">公司帳號不能留空</span> 
                  </md-field>
                </div> -->
                <div class="col-lg-6 col-md-6">
                  <md-field :class="{'md-invalid' : errors.has('email')}">
                    <label>公司帳號/信箱</label>
                    <md-input v-model.trim="businessCreateEmail" name="email" v-validate="'required|email'" autocomplete="off"></md-input>
                    <span class="md-error">{{ errors.first('email') }}</span> 
                  </md-field>
                </div>
                <div class="col-lg-4 col-md-6">
                  <md-field :class="{'md-invalid' : errors.has('password')}">
                    <label>密碼</label>
                    <md-input v-model.trim="businessCreatePsw" name="password" type="password" v-validate="'required|min:6'" autocomplete="off"></md-input>
                    <span class="md-error">{{ errors.first('password') }}</span> 
                  </md-field>
                </div>
                <div class="col-lg-4 col-md-6">
                  <md-field :class="{'md-invalid' : errors.has('name')}">
                    <label>公司名稱</label>
                    <md-input v-model.trim="businessCreateName" name="name" v-validate="'required'" autocomplete="off"></md-input>
                    <span class="md-error">公司名稱不能留空</span> 
                  </md-field>
                </div>
               
                <div class="col-lg-4 col-md-6">
                  <md-field :class="{'md-invalid' : errors.has('vat')}">
                    <label>公司統編</label>
                    <md-input v-model.trim="businessCreateVat" name="vat" v-validate="'required'" autocomplete="off"></md-input>
                    <span class="md-error">公司統編不能留空</span> 
                  </md-field>
                </div>
                <!-- <div class="col-lg-6 col-md-6">
                  <md-field :class="{'md-invalid' : errors.has('posId')}">
                    <label>廳別代號(POS ID)</label>
                    <md-input v-model.trim="businessCreatePosId" name="posId" v-validate="'required'" autocomplete="off"></md-input>
                    <span class="md-error">廳別代號不能留空</span> 
                  </md-field>
                </div> -->
                <div class="col-lg-4 col-md-6">
                  <md-field :class="{'md-invalid' : errors.has('phone')}">
                    <label>公司電話</label>
                    <md-input v-model.trim="businessCreatePhone" name="phone" v-validate="'required'" autocomplete="off"></md-input>
                    <span class="md-error">公司電話不能留空</span> 
                  </md-field>
                </div>
                <div class="col-12">
                  <md-field :class="{'md-invalid' : errors.has('address')}">
                    <label>公司地址</label>
                    <md-input v-model.trim="businessCreateAddress" name="address" v-validate="'required'" autocomplete="off"></md-input>
                    <span class="md-error">公司地址不能留空</span> 
                  </md-field>
                </div>

                <div class="col-12 d-flex justify-content-end mt-5">
                  <md-button class="md-accent md-raised md-dense" @click="cancel" :md-ripple="false">取消</md-button>
                  <md-button class="md-primary md-raised md-dense" @click="save" :md-ripple="false">新增</md-button>
                </div>
              </div> 
            </div>
          </md-card-content>         
        </md-card>   
      </div>
    </div>
</div>
