<div class="notification col-12 tablelist"> 
  <div class="row">
    <div class="col-12">
      <md-card>
        <md-card-header class="d-inline-block" >
          <div class="md-title">最新消息</div>
        </md-card-header>
        <md-card-content>
          <!-- <div class="row">
            <div class="text-danger col-12 mb-2">*商家推播申請一個月不得超過三次*</div>
          </div> -->
          
          <div class="row sticky-top select-options-top">
            <div class="col-12 d-flex align-items-center justify-content-between flex-wrap-reverse">
                <div class='d-flex align-items-center justify-content-between select-options'>
                    <md-button class="md-icon-button md-dense md-raised md-primary" @click="refreshData(null)">
                      <md-icon>refresh</md-icon>
                      <md-tooltip md-direction="bottom">refresh</md-tooltip>
                    </md-button>
                    <md-button class="md-icon-button md-dense md-raised md-primary" @click="addNew">
                      <md-icon>add</md-icon>
                      <md-tooltip md-direction="bottom">add</md-tooltip>
                    </md-button>  
                    
                    <md-menu md-size="medium" md-align-trigger>
                      <md-button md-menu-trigger class="md-icon-button md-dense md-raised md-primary">
                        <md-icon>tune</md-icon>
                        <md-tooltip md-direction="bottom">類別篩選</md-tooltip>
                      </md-button>
                      <md-menu-content>
                        <md-menu-item class="active" @click="filterType(1)">系統公告</md-menu-item>
                        <md-menu-item @click="filterType(2)">最新消息</md-menu-item>
                        <md-menu-item @click="filterType(3)">推播訊息</md-menu-item>
                      </md-menu-content>
                    </md-menu>
                </div>
              
            </div>
          </div>

          <v-client-table 
            :data="datatables"
            :columns="columns" 
            :options="options"
            ref="notificationTable"
          >
            <!-- 標題 -->
            <a 
            style="cursor: pointer;"
            slot="title" 
            slot-scope="props" 
            @click.prevent="editChoose(props.row.id)">{{props.row.title}}</a>
            <!-- 動作 -->
            <md-button 
              slot="act" 
              slot-scope="props"
              :value="props.row.id"
              class="md-icon-button md-dense md-raised md-primary"
              v-if="props.row.status == 1"
              @click="notifiSend(props.row.id,props.row.status,props.row.title)"
            >
            <!-- v-if="props.row.status == 1 && props.row.type == 3" -->
              <md-icon>notifications_active</md-icon>
              <md-tooltip md-direction="bottom" >推播發送</md-tooltip>
            </md-button>

          </v-client-table>
          <!-- pagenation-customer -->
          <div class="row col-md-12 justify-content-center customer-pagination">
            <nav class="text-center">
              <ul class="pagination" v-if="totalPages !== 1">
                <li class="page-item" @click="prevPage" :class="{'disabled' : currentPage === 1}">
                  <a class="page-link" href="javascript:;" tabindex="-1">&lt;</a>
                </li>
                <li class="page-item">
                  <div class="pageShow">
                      <md-menu md-size="small" md-align-trigger md-direction="bottom-start" >
                          <md-button class="md-raised md-primary" @click="showDialog = true">{{currentPage}} / {{totalPages}}
                            <md-tooltip md-direction="bottom">pages</md-tooltip>
                          </md-button>
                      </md-menu>
                  </div> 
                </li>
                <li class="page-item" @click="nextPage" :class="{'disabled' : totalPages === currentPage}">
                  <a class="page-link" href="javascript:;">&gt;</a>
                </li>
              </ul>
              <p class="customer-pagination__count text-center col-md-12" >{{dataInfo}}</p>
            </nav>
          </div>  

        </md-card-content>         
      </md-card>   
    </div>
  </div>    

  <!-- searchFilter box -->
  <md-dialog :md-active.sync="showDialog">
    <md-dialog-title>頁數搜尋</md-dialog-title>
    <md-dialog-content>
      <md-field>
        <label>
          <md-icon>search</md-icon>
        </label>
        <md-input v-model.number.lazy='pageNumber' type="number" min="1" :max="totalPages"></md-input>
        <span class="md-helper-text">最小頁數:1 / 最大頁數:{{totalPages}}</span>
      </md-field>
    </md-dialog-content>
    

    <md-dialog-actions>
      <md-button class="md-primary" @click="showDialog = false">close</md-button>
      <md-button class="md-primary" @click="searchPage">search</md-button>
    </md-dialog-actions>
  </md-dialog>

</div>
