.couponEdit{
  label.cus{
    color: rgba(0, 0, 0, 0.54);
    font-size: 12px;
  }
  .cus-input-150{
    width: 100px;
    input{
      width: inherit;
    }
  }
  .cus-bg{
    background-color: #f6f6f6;
  }
}
