//自訂

$customer :rgba(36, 94, 96,1); //rgba(240,89,42,1)  ;

$gold-light : #eae0ce;
// $gold : #BFAB7F;
// $gold : #9F8251;
$gold-font: #ffe6b3;
$gold :#C1B091;//

// 圖表設定 
$graph-bg-blue : #26c6da;
$graph-bg-green : #6cb76c;
$graph-bg-orange : #f4a742;
$graph-bg-red : #d22824;
$graph-height: 180px;
$graph-padding: 15px ;

//主導覽列高度
$navHeight : 58px;

//側邊欄 寬度 
$sidebarWidth : 200px;

//側邊欄內縮 寬度
$sidebarWidth-sm : 60px;
