<div class="account col-12 tablelist">
  <div class="row">
    <div class="col-12">
      <md-card>
        <md-card-header class="d-inline-block" >
          <div class="md-title">管理員帳號</div>
        </md-card-header>
        <md-card-content>
          <div class="row sticky-top select-options-top">
            <div class="col-12 d-flex align-items-center justify-content-between flex-wrap-reverse">
              <div class='d-flex align-items-center justify-content-between select-options'>
                  <md-checkbox class="checkbtnArea" v-model="checkbtn" style="margin:0 0 0 10px" indeterminate></md-checkbox>
                  <md-menu md-size="medium" md-align-trigger>
                      <md-button md-menu-trigger style="min-width: 0;width:20px;"><md-icon>arrow_drop_down</md-icon></md-button>
                      <md-menu-content>
                        <md-menu-item @click="checkAll">全選</md-menu-item>
                        <md-menu-item @click="uncheckAll">全不選</md-menu-item>
                      </md-menu-content>
                  </md-menu>
                  
                  <md-button class="md-icon-button md-dense md-raised md-primary mr-2" @click="refreshData(null)">
                      <md-icon>refresh</md-icon>
                      <md-tooltip md-direction="bottom">refresh</md-tooltip>
                  </md-button>
                  <md-button class="md-icon-button md-dense md-raised md-primary" @click="addNew">
                    <md-icon>add</md-icon>
                    <md-tooltip md-direction="bottom">add</md-tooltip>
                  </md-button>
                  <transition name="selectOption" mode="out-in" appear>
                    <md-button  v-if="checkarray.length === 1" class="md-icon-button md-dense md-raised md-primary" @click="editChoose(null)">
                      <md-icon>edit</md-icon>
                      <md-tooltip md-direction="bottom">修改</md-tooltip>
                    </md-button>
                  </transition> 
                  <!-- 尚未開通功能 -->
                  <!-- <transition name="selectOption" mode="out-in" appear>
                    <md-badge :md-content="selectLength" md-dense v-if="checkarray.length > 0">
                      <md-button class="md-icon-button md-dense md-raised md-primary" @click="disabledAdmin">
                        <md-icon>person_add_disabled</md-icon>
                        <md-tooltip md-direction="bottom">用戶停用</md-tooltip>
                      </md-button>
                    </md-badge>
                  </transition>
                  <transition name="selectOption" mode="out-in" appear>
                    <md-badge :md-content="selectLength" md-dense v-if="checkarray.length > 0">
                      <md-button class="md-icon-button md-dense md-raised md-primary" @click="downloadCSV">
                        <md-icon>move_to_inbox</md-icon>
                        <md-tooltip md-direction="bottom">CSV 下載</md-tooltip>
                      </md-button>
                    </md-badge>
                  </transition>  -->
                  <!-- 尚未開通功能 -->
                  
              </div>
              <!-- 尚未開通功能 -->  
              <!-- <div class="d-flex align-items-center justify-content-end">
                <div class="search-box d-flex">
                  <input class="search-txt" type="text" name="" placeholder="搜尋帳號" v-model.trim="searchOption">
                  <md-button class="md-icon-button md-dense md-raised md-primary flex-shrink-0 mx-0" @click="searchAct">
                    <md-icon>search</md-icon>
                    <md-tooltip md-direction="bottom">search</md-tooltip>
                  </md-button>
                </div>
              </div> -->
              <!-- 尚未開通功能 -->
            </div>
      
      
          </div>  

          <v-client-table 
            :data="datatables"
            :columns="columns" 
            :options="options"
            ref="adminTable"
          >        
             <!-- 選單 -->
             <md-checkbox 
              slot="edit" 
              slot-scope="props" 
              v-model="checkarray" 
              class="md-primary" 
              :value="props.row.id" 
              style="margin:0;"
            ></md-checkbox>   
            <!-- 標題名稱 -->
            <a 
              style="cursor: pointer;"
              slot="id_number" 
              slot-scope="props" 
              @click.prevent="editChoose(props.row.id)">{{props.row.id_number}}</a>

          </v-client-table> 
          
          <!-- pagenation-customer -->
          <div class="row col-md-12 justify-content-center customer-pagination">
            <nav class="text-center">
              <ul class="pagination" v-if="totalPages !== 1">
                <li class="page-item" @click="prevPage" :class="{'disabled' : currentPage === 1}">
                  <a class="page-link" href="javascript:;" tabindex="-1">&lt;</a>
                </li>
                <li class="page-item">
                  <div class="pageShow">
                      <md-menu md-size="small" md-align-trigger md-direction="bottom-start" >
                          <md-button class="md-raised md-primary" @click="showDialog = true">{{currentPage}} / {{totalPages}}
                            <md-tooltip md-direction="bottom">pages</md-tooltip>
                          </md-button>
                      </md-menu>
                  </div> 
                </li>
                <li class="page-item" @click="nextPage" :class="{'disabled' : totalPages === currentPage}">
                  <a class="page-link" href="javascript:;">&gt;</a>
                </li>
              </ul>
              <p class="customer-pagination__count text-center col-md-12" >{{dataInfo}}</p>
            </nav>
          </div> 

        </md-card-content>         
      </md-card> 
    </div>
  </div>
</div>
